<%= render 'navbar', page: "CATEGORIES"%>  
</div>
<h2 class="text-center">Total: <span><%= @total %></span></h2>

<div>
  <% @groups.each do |group| %>
    <%= render 'group_card', group: group%>
  <% end %>
</div>

<%= button_to 'New categories', new_group_path,  method: :get, class: 'new-cat-btn' %>