.log-in {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

.form {
    text-align: center;
    height: 100%;
    background-color: rgb(235, 235, 235);

    .email {
        width: 100%;
        height: 50px;
        border: 0.5px solid;
        margin-top: 20px;
        border-bottom: none;
        font-size: 17px;
    }

    .email1 {
        width: 100%;
        height: 50px;
        border: 0.5px solid;
        border-bottom: none;
        font-size: 17px;
    }

    .password {
        width: 100%;
        height: 50px;
        border: 0.5px solid;
        font-size: 17px;
    }
}

.all-links {
    text-align: center;
}