@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Praise&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  overflow: hidden;
  color: #434b54;

  a {
    color: #434b54;
    text-decoration: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3778c2;
  color: white;
  padding: 20px 10px;
  height: 100%;
}

.icon {
  height: 30px;
  width: 30px;
  color: white;
}

.home-page {
  color: #434b54;
  display: flex;
  flex-direction: column;
  height: 100%;

  .title-cont {
    align-self: center;
    justify-self: center;
    height: 78%;
    display: flex;

    .home-title {
      align-self: center;
      font-family: "Praise", cursive;
      font-size: 80px;
      font-weight: 100;
    }
  }

  .home-buttons {
    justify-self: flex-end;
    text-align: center;
    height: 20%;
    width: 100%;

    .log-in-btn {
      color: white;
      font-weight: 200;
      font-size: 20px;
      width: 95%;
      height: 65px;
      border: none;
      border-radius: 5px;
      background-color: #3778c2;
      margin-bottom: 1px;
    }

    .sign-up-btn {
      font-size: 20px;
      border: none;
      background: none;
      width: 95%;
      height: 65px;
      color: #434b54;
    }
  }
}

.log-in {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}

.form {
  text-align: center;
  height: 100%;
  background-color: rgb(235, 235, 235);

  input {
    padding: 0 5px;
  }

  .email {
    width: 100%;
    height: 50px;
    border: 0.5px solid;
    margin-top: 20px;
    border-bottom: none;
    font-size: 17px;
  }

  .email1 {
    width: 100%;
    height: 50px;
    border: 0.5px solid;
    border-bottom: none;
    font-size: 17px;
  }

  .password {
    width: 100%;
    height: 50px;
    border: 0.5px solid;
    font-size: 17px;
  }
}

.all-links {
  text-align: center;
}
