<h1 class="project-name">Budget Me</h1>
<%= button_to 'LOG IN', new_user_session_path, method: :get, class: 'sign-up-btn' %>
<%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: 'sign-up-btn' %>